header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
h1{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}


.add-course-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form.hidden {
    display: none;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form button:first-of-type {
    background-color: #4CAF50;
    color: white;
}

form button:last-of-type {
    background-color: #f44336;
    color: white;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px; /* Giảm padding để làm cho bảng nhỏ hơn */
    text-align: left;
    font-size: 14px;
}

th {
    background-color: #003366;
    color: white;
    font-weight: bold;
}

td img {
    width: 80px; /* Giảm kích thước hình ảnh */
    height: auto;
    display: block;
    margin: 0 auto;
}

td a {
    margin: 0 5px;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    transition: opacity 0.3s;
}

td a.edit {
    color: #ffc107;
}

td a.delete {
    color: #dc3545;
}

td a.chapter {
    color: #28a745;
}

td a:hover {
    opacity: 0.7;
}

.hidden {
    display: none;
}