.hidden{
    display: none;
}

.rate-course {
    margin-top: 30px;
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;

}

.rate-course h3 {
    font-size: 1.5em;
    margin-bottom: 10px;

}

.rating {
    display: flex;
    justify-content: center;
    direction: rtl;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    font-size: 2em;
    color: #ddd;
    cursor: pointer;
    transition: color 0.2s;
}

.rating input[type="radio"]:checked ~ label {
    color: #f5c518;
}

.rating label:hover,
.rating label:hover ~ label {
    color: #f5c518;
}

.rate-course button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.rate-course button:hover {
    background: #218838;
}

.rate-course p {
    text-align: center;
    color: #888;
}
.rate-course .btm-close{
    top: -34px;
    right: -25px;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin: 0 4px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
